body {
	margin: 0;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

header {
    background-color: rgb(23, 190, 112);
    color: Orange;
    text-align: center;
}

main {
    /* text-align: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main figure {
    justify-items: center;
}

.center-content {
    width: 100vh;
    justify-items: center;
}

.left-content, .right-content {
    background-color: rgba(64, 243, 20, 0.753);
    color: Orange;
    text-align: center;
}

.left-content:hover{
    transform: perspective(100px) rotateY(20deg);
}

.right-content:hover{
    transform: translate3d(0px, 0px, 0px) rotate(20deg);
}

footer {
    background-color: rgb(23, 190, 112);
    color: Orange;
    text-align: center;
}

@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.rotating:hover {
    animation: rotating 2s linear infinite;
}

button {
    background-color: rgb(23, 190, 112);
    color: Orange;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:active{
    background-color: blue;
    transform: scale(1.5);
}