* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    margin-left: 200px;
    padding: 20px;
    min-height: 80vh;
}

a{
    color: black;
}

a:hover{
    color: orange;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

aside {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #333;
    color: white;
    padding-top: 20px;
    transition: width 0.3s ease;
    overflow-y: auto;
    scrollbar-width: none; /* Masque la barre de défilement pour Firefox */
}

aside::-webkit-scrollbar {
    display: none; /* Masque la barre de défilement pour Chrome, Safari, et Opera */
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    padding: 10px;
}

aside ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

/* Style pour l'élément de menu actif (séance en cours) */
aside ul li a.active {
    background-color: #4CAF50; /* Couleur pour l'élément actif */
    color: white;
    font-weight: bold;
}

aside ul li a:hover {
    background-color: #555;
}

h2, h3, h4, h5{
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 15px;
}

h4, h5, p, ul{
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

table, th, td {
    border: 1px solid black;
}

thead{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: #f4f4f4;
    background-color: #4CAF50;
}

table td{
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

iframe{
    width: 87vw;
    height: 42vw;
}