/* =========================================
	BASE — Règles générales du site
========================================= */

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

html {
	scroll-behavior: smooth;
}