/* Importation de la police Google Fonts */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Mise en page */
header {
    background: #0073e6;
    color: white;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: orange;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header h1 {
    color: white;
}

h1, h2, h3 {
    color: #0073e6;
}

/* Style des formulaires */
form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background: #0073e6;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: #005bb5;
}

/* Image responsive */
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: #0073e6;
    color: white;
}
